/* Add CSS Styling */

.Black {background-color: hwb(0 0% 100%);
color:rgb(255, 255, 255)}

.Yellow {background-color: yellow;}

.Black, 
.Yellow {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif
}